[Desktop Entry]
Type=Application
Name=LiveHunter Tools
Comment=Список установленных инструментов Kali LiveHunter
Exec=/usr/local/bin/livehunter-tools-gui
Icon=utilities-terminal
Terminal=false
X-GNOME-Autostart-enabled=false
